[Desktop Entry]
Name=SimpleSteamTinker
Icon=simplesteamtinker
Comment=A work-in-progress fast, simple and modern Libadwaita alternative to SteamTinkerLaunch.
Exec=/usr/bin/sst
Terminal=false
Type=Application
Categories=Game;
